* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  line-height: 2;
  width: 90vw;
  padding: 5px;
  margin: 2em; }

header {
  padding: 2em;
  font-family: sans-serif; }
  header h1 {
    color: #049eb9;
    font-size: 4em; }
  header ul li {
    color: #333;
    font-weight: 600;
    font-size: 1.6em; }

.section {
  margin: 40px auto;
  font-size: 1.6em; }

#box {
  height: 300px;
  width: 300px;
  background: #dc143c; }

@media (max-width: 500px) {
  header {
    padding: 1em; }
    header h1 {
      color: red;
      font-size: 3em;
      padding-bottom: 30px; }
    header ul li {
      color: #333;
      font-weight: 600;
      font-size: 1.4em; } }
